
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model CostumeUser

<div class="container-fluid">
	<h2>Update User</h2>
	<form class="w-50" asp-area="admin" asp-controller="User" asp-action="Update" method="post">
		<div asp-validation-summary = "All" class = "text-danger"></div>
		<div class="mb-3">
			<label asp-for = "@Model.Name" class="form-label">Name</label>
			<input class="form-control" asp-for = "@Model.Name">
		</div>
		<div class="mb-3">
			<label asp-for = "@Model.LastName" class="form-label">Lastname</label>
			<input class="form-control" asp-for = "@Model.LastName">
		</div>
		<div class="mb-3">
			<label asp-for = "@Model.UserName"  class="form-label">Username</label>
			<input class="form-control" asp-for = "@Model.UserName">
		</div>
		<div class="mb-3">
			<label asp-for = "@Model.PhoneNumber" class="form-label">Phone</label>
			<input type = "number" class="form-control" asp-for = "@Model.PhoneNumber">
		</div>		
		<div class="mb-3">
			<label asp-for = "@Model.Email" class="form-label">Email</label>
			<input type = "email"  class="form-control" asp-for = "@Model.Email">
		</div>
		<input asp-for = "@Model.Id" hidden />
		<button class="btn btn-primary" type="submit">Update</button>
	</form>
</div>

