
@{
    ViewData["Title"] = "SmUpdate";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model SosialMedia


<div class="container-fluid">
	<h2>Create New Sosial Media</h2>
	<form class = "w-50 mt-3" asp-area = "admin" asp-controller = "Settings" asp-action = "SmUpdate" method = "post">
		<div class="form-floating mb-3">
			<input class="form-control" asp-for = "@Model.Icon" >
			<label asp-for = "@Model.Icon">Icon</label>
		</div>
		<div class="form-floating mb-3">
			<input class="form-control" asp-for = "@Model.Name">
			<label asp-for = "@Model.Name">Name</label>
		</div>		
		<div class="form-floating mb-3">
			<input class="form-control" asp-for = "@Model.Link">
			<label asp-for = "@Model.Link">Link</label>
		</div>
		<button class = "btn btn-primary" type = "submit">Update</button>
	</form>
</div>
